.contact {
  position: relative;
  min-height: 100vh;
  padding: 6% 10%;
  display: flex;
  align-items: center;
  flex-direction: column;
  background: url(../img/cont-bg.jpg);
  background-size: cover;
  @media (max-width: 1195px) {
    padding-top: 8%;
  }
  @media (max-width: 991px) {
    padding: 50px;
    padding-top: 10%;
  }
  .title {
    max-width: 100%;
    text-align: left;
    color: #fff;
    h2 {
      border-bottom: 3px solid #fff;
      font-size: 3em;
    }
    p {
      top: 10px;
    }
  }
  .container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
    @media (max-width: 991px) {
      flex-direction: column;
    }
    .contactInfo {
      width: 50%;
      display: flex;
      flex-direction: column;
      @media (max-width: 991px) {
        width: 100%;
        margin-bottom: 40px;
      }
      .box {
        position: relative;
        padding: 20px 0;
        display: flex;
        .icon {
          min-width: 40px;
          height: 40px;
          background: #fff;
          display: flex;
          justify-content: center;
          align-items: center;
          border-radius: 50%;
          font-size: 22px;
          a {
            color: $main-color;
          }
          &:hover {
            background-color: $main-color;
            a {
              color: #fff;
            }
          }
        }
        .text {
          display: flex;
          margin-left: 20px;
          font-size: 16px;
          color: #fff;
          flex-direction: column;
          font-weight: 300;
          h3 {
            font-weight: 500;
            color: $main-color;
          }
        }
      }
    }
    .contactForm {
      width: 40%;
      padding: 40px;
      background: #fff;
      border-radius: 5px;
      @media (max-width: 991px) {
        width: 100%;
      }
      h2 {
        font-size: 30px;
        color: #333;
        font-weight: 500;
      }
      .inputBox {
        position: relative;
        width: 100%;
        margin-top: 10px;
        input,
        textarea {
          background-color: #f9f9f9;
          width: 100%;
          padding: 5px 0;
          font-size: 16px;
          margin: 10px 0;
          border: none;
          border-bottom: 1px solid #4a3f35;
          outline: none;
          resize: none;
        }
        span {
          position: absolute;
          left: 8px;
          padding: 5px 0;
          font-size: 16px;
          margin: 10px 0;
          pointer-events: none;
          transition: 0.5s;
          color: #666;
        }
        input:focus ~ span,
        input:valid ~ span,
        textarea:focus ~ span,
        textarea:valid ~ span {
          color: $second-color;
          font-size: 12px;
          transform: translateY(-20px);
        }
        input[type='submit'] {
          width: 100px;
          background: $main-color;
          color: #fff;
          border: none;
          cursor: pointer;
          padding: 10px;
          font-size: 18px;
          border-radius: 3px;
          &:hover {
            transform: scale(0.98);
          }
        }
      }
    }
  }
}
