/* Home Start */
.home {
  .hero {
    position: relative;
    height: 100vh;
    width: 100vw;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  &::before {
    content: '';
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    background-image: url(../img/hook-1943675-min.jpg);
    background-size: cover;
    background-position: center center;
  }
  .hero {
    padding-top: 100px;
    flex-direction: column;
    float: left;
    width: 50vw;
    height: 40vh;

    color: white;
    font-size: 24px;
    h1 {
      font-size: 3rem;
    }
  }
}

/* Home End */
