/* Home Start */
.home {
  align-items: baseline;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  background-image: url(../img/bgop.jpg);
  background-size: cover;
  background-position: center center;
  .hero {
    position: relative;
    padding-top: 100px;
    width: 50%;
    @media (max-width: 991px) {
      width: 80%;
    }
    @media (max-width: 421px) {
      width: 100%;
    }
    height: auto;
    color: white;
    font-size: 1rem;
    h3 {
      font-family: lato;
      font-size: 2.5rem;
      padding-bottom: 2vh;
    }
    img {
      width: auto;
      @media (max-width: 991px) {
        width: 300px;
      }
      padding-bottom: 2vh;
      filter: drop-shadow(0px 2px 1px rgba(255, 255, 255, 0.5));
    }
    p {
      padding-bottom: 2vh;
    }
    .container {
      align-items: center;
      display: flex;
      flex-direction: column;
      justify-content: center;
      padding: 1em;
      text-align: center;

      @media (min-width: 600px) {
        flex-direction: row;
        justify-content: space-between;
      }
      .btn {
        color: #fff;
        background-color: #1a73e8;
        border-radius: 16px;
        cursor: pointer;
        font-size: 16px;
        font-weight: 400;
        line-height: 45px;
        margin: 0 0 2em;
        max-width: 160px;
        position: relative;
        text-decoration: none;
        text-transform: uppercase;
        width: 100%;
      }
      .wp {
        background: #00e676;
      }
    }
  }
}

/* Home End */
