/* Home Start */
.home {
  .hero {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    // height: 120vh;
  }
  &::before {
    content: '';
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    background-image: url(../img/hydra.jpg);
    background-size: cover;
    background-position: top center;
    opacity: 0.5;
  }
}

/* Home End */
