@import 'config';
@import 'nav';
@import url('https://fonts.googleapis.com/css2?family=Oxygen&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: 'Oxygen', sans-serif;
}
section {
  min-height: 100vh;
  padding-top: 90px;
}

a {
  text-decoration: none;
}
/* Home Start */
.home {
  background: url(../img/hydra.jpg) no-repeat center center;
  color: $light-color;
  background-size: cover;
  height: 100vh;
  font-size: 20px;
}
.hero {
  background: rgba($color: $lighter-color, $alpha: 0.7);
  margin-top: 5%;
  margin-left: 10%;
  margin-right: 10%;
  height: 500px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  line-height: 3em;
  color: $dark-color;
  overflow: hidden;
  padding-left: 20px;
}

/* ROY */
.roy {
  font-weight: bolder;
  letter-spacing: 0.1em;
  color: #fca311;
}
.service {
  color: #14213d;
}
.home .hero .welcome {
  font-weight: bolder;
  font-size: 50px;
}

/* Home End */

.contact {
  position: relative;
  min-height: 100vh;
  padding: 90px 100px;
  display: flex;
  align-items: center;
  flex-direction: column;
  background: url(../img/cont-bg.jpg);
  background-size: cover;
  .title {
    max-width: 800px;
    text-align: center;
    h2 {
      font-size: 36px;
      font-weight: 500;
      color: #fff;
    }
    p {
      font-weight: 500;
      color: #fff;
    }
  }
  .container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
    .contactInfo {
      width: 50%;
      display: flex;
      flex-direction: column;
      .box {
        position: relative;
        padding: 20px 0;
        display: flex;
        .icon {
          min-width: 60px;
          height: 60px;
          background: #fff;
          display: flex;
          justify-content: center;
          align-items: center;
          border-radius: 50%;
          font-size: 22px;
        }
        .text {
          display: flex;
          margin-left: 20px;
          font-size: 16px;
          color: #fff;
          flex-direction: column;
          font-weight: 300;
          h3 {
            font-weight: 500;
            color: #00bcd4;
          }
        }
      }
    }
    .contactForm {
      width: 40%;
      padding: 40px;
      background: #fff;
      h2 {
        font-size: 30px;
        color: #333;
        font-weight: 500;
      }
      .inputBox {
        position: relative;
        width: 100%;
        margin-top: 10px;
        input,
        textarea {
          width: 100%;
          padding: 5px 0;
          font-size: 16px;
          margin: 10px 0;
          border: none;
          border-bottom: 2px solid #333;
          outline: none;
          resize: none;
        }
        span {
          position: absolute;
          left: 0;
          padding: 5px 0;
          font-size: 16px;
          margin: 10px 0;
          pointer-events: none;
          transition: 0.5s;
          color: #666;
        }
        input:focus ~ span,
        input:valid ~ span,
        textarea:focus ~ span,
        textarea:valid ~ span {
          color: #e91e63;
          font-size: 12px;
          transform: translateY(-20px);
        }
        input[type='submit'] {
          width: 100px;
          background: #00bcd4;
          color: #fff;
          border: none;
          cursor: pointer;
          padding: 10px;
          font-size: 18px;
        }
      }
    }
  }
}
