@import 'config';
@import 'nav';
@import 'home';
@import 'contsct';
@import 'footer';
@import 'about';
@import 'service';
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
html {
  scroll-behavior: smooth;
  font-size: 16px;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: 'Poppins', sans-serif;
}
section {
  min-height: 100vh;
  height: auto;
  margin: 0;
  padding: 80px 5vw 5vh 5vw;
  position: relative;
  height: auto;
  width: 100%;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  flex-direction: column;
  align-items: center;
}
h2 {
  width: 80vw;
  color: #fff;
  border-bottom: 3px solid #fff;
  font-size: 3rem;
  margin-bottom: 10vh;
}
.whatsapp {
  background-color: #24cc63;
}
.fphone {
  background-color: #1a73e8;
}
.femail {
  background-color: #ea4335;
}
.fwhatsapp {
  background-color: #24cc63;
}
.fcont {
  background-color: #726a95;
}
a {
  text-decoration: none;
  color: #fff;
}
img {
  min-width: 10vh !important;
}
